@page "/dashboard/chat"
@inject NavigationManager NavigationManager

<div class="column-layout chat-container">
    <div class="row-layout topbar">
        <div class="row-layout group">
            <div class="row-layout round-icon-button-1">
                <IgbNavDrawer @onclick="@(e => _navDrawer3!.ToggleAsync())" @ref="_navDrawer3" class="nav-drawer" chat-scope>
                    <div class="row-layout group">
                        <div class="row-layout round-icon-button-1">
                            <span class="material-icons icon">
                                menu
                            </span>
                        </div>
                        <div @onclick="@(e => Navigate("/dashboard/search_engine"))" class="row-layout group_1">
                            <img src="assets/gchat monogram.svg" class="image" />
                        </div>
                    </div>
                    <div class="row-layout group_2">
                        <div class="row-layout round-icon-button">
                            <span @onclick="@(e => _navDrawer3!.ToggleAsync())" class="material-icons icon">
                                menu
                            </span>
                        </div>
                        <img src="assets/gchat monogram.svg" class="image_1" />
                    </div>
                    <div class="column-layout group_3">
                        <div class="column-layout group_4">
                            <div class="column-layout group_5">
                                <div class="row-layout group_6">
                                    <div @onclick="@(e => _chatdialog!.ToggleAsync())" class="row-layout group_7">
                                        <img src="assets/pencil-edit-02.svg" class="image_2" />
                                        <p class="typography__body-1 text">
                                            New chat
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <IgbDialog CloseOnOutsideClick="true" @ref="_group1">
                                <h5 slot="title">
                                    Create a Group
                                </h5>
                                <div class="column-layout group_8">
                                    <IgbInput Placeholder="Space Name" Required="true" Outlined="false" class="input" chat-scope>
                                        <span slot="prefix">
                                            <span class="material-icons icon">
                                                add_reaction
                                            </span>
                                        </span>
                                        <span slot="helper-text">0/150</span>
                                    </IgbInput>
                                </div>
                                <div slot="footer">
                                    <IgbButton @onclick="@(e => _group1!.ToggleAsync())" class="button button_4" chat-scope>
                                        Cancel
                                        <IgbRipple></IgbRipple>
                                    </IgbButton>
                                    <IgbButton Variant="ButtonVariant.Outlined" @onclick="@(e => Navigate("/chat_pages/new_convo_group"))" class="button_1 button_1_1" chat-scope>
                                        Create Group
                                        <IgbRipple></IgbRipple>
                                    </IgbButton>
                                </div>
                            </IgbDialog>
                            <div class="column-layout group_9">
                                <div @onclick="@(e => Navigate("/chat_pages/home_view"))" class="row-layout group_10">
                                    <img src="assets/home-03.svg" class="image_3" />
                                    <p class="typography__body-2 text_1">
                                        Home
                                    </p>
                                </div>
                                <div @onclick="@(e => Navigate("/chat_pages/mentions"))" class="row-layout group_11">
                                    <img src="assets/a0247e3802210bf84e7dea58490eaea19af36379.SVG" class="image_4" />
                                    <p class="typography__body-2 text_1">
                                        Mentions
                                    </p>
                                </div>
                                <div @onclick="@(e => Navigate("/chat_pages/favourites"))" class="row-layout group_12">
                                    <img src="assets/star.svg" class="image_3" />
                                    <p class="typography__body-2 text_1">
                                        Favorites
                                    </p>
                                </div>
                            </div>
                            <div class="column-layout group_13">
                                <div class="column-layout group_14">
                                    <p class="typography__body-2 text_2">
                                        Chat with a colleague or friend
                                    </p>
                                    <p @onclick="@(e => Navigate("/chat_pages/home_view"))" class="typography__body-2 text_3">
                                        Find a chat
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </IgbNavDrawer>
                <span @onclick="@(e => _navDrawer3!.ToggleAsync())" class="material-icons icon">
                    menu
                </span>
            </div>
            <div @onclick="@(e => Navigate("/dashboard/search_engine"))" class="row-layout group_1">
                <img src="assets/gchat monogram.svg" class="image_5" />
            </div>
        </div>
        <div class="row-layout group_15">
            <div class="row-layout group_16">
                <span @onclick="@(e => _overview11!.ToggleAsync())" class="material-icons icon_1">
                    drag_indicator
                </span>
            </div>
            <div class="row-layout group_17">
                <div @onclick="@(e => _profileoverview3!.ToggleAsync())" class="row-layout profile-user">
                    <p class="typography__body-1 text_4">
                        Z
                    </p>
                </div>
            </div>
            <IgbDialog CloseOnOutsideClick="true" @ref="_profileoverview3">
                <h5 slot="title"></h5>
                <div class="row-layout group_18">
                    <span @onclick="@(e => _profileoverview3!.ToggleAsync())" class="material-icons icon_2">
                        close
                    </span>
                </div>
                <div class="row-layout group_19">
                    <div class="row-layout group_20"></div>
                    <p class="typography__body-2 text_5">
                        zoe.e@@etztec.com
                    </p>
                    <div class="row-layout group_20"></div>
                </div>
                <div class="column-layout group_21">
                    <div class="row-layout group_22">
                        <div class="row-layout avatar">
                            <p class="typography__body-1 text_4">
                                EG
                            </p>
                            <div class="row-layout circle"></div>
                        </div>
                        <div class="column-layout group_23">
                            <p class="typography__subtitle-1 text_1">
                                Zoe Emmanuel
                            </p>
                            <p class="typography__body-2 text_6">
                                +44 7123 456789
                            </p>
                        </div>
                    </div>
                    <IgbButton Variant="ButtonVariant.Outlined" @onclick="@(e => Navigate("/account/account_home"))" class="button button_5" chat-scope>
                        Manage your Goowid Account
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                </div>
                <div class="column-layout group_24">
                    <div class="row-layout settings-button-2">
                        <img src="assets/settings-01.svg" class="image_6" />
                        <p class="typography__body-2 text_7">
                            More Settings
                        </p>
                    </div>
                    <div class="row-layout language-button">
                        <div class="row-layout group_25">
                            <img src="assets/globe-02.svg" class="image_6" />
                            <p class="typography__body-2 text_1">
                                Language
                            </p>
                        </div>
                        <p class="typography__body-2 text_8">
                            English
                        </p>
                    </div>
                    <div class="row-layout settings-button-2">
                        <img src="assets/logout-03.svg" class="image_7" />
                        <p class="typography__body-2 text_1">
                            Log out
                        </p>
                    </div>
                </div>
                <div class="row-layout group_26">
                    <div class="row-layout group_27">
                        <p class="typography__caption text_7">
                            Privacy Policy
                        </p>
                    </div>
                    <div class="column-layout deivder"></div>
                    <div class="row-layout group_27">
                        <p class="typography__caption text_7">
                            Terms of Service
                        </p>
                    </div>
                </div>
                <div slot="footer"></div>
            </IgbDialog>
            <IgbDialog CloseOnOutsideClick="true" @ref="_overview11">
                <h5 slot="title"></h5>
                <div class="row-layout group_28">
                    <span @onclick="@(e => _overview11!.ToggleAsync())" class="material-icons icon_2">
                        close
                    </span>
                </div>
                <div class="row-layout group_29">
                    <img src="assets/goowid-logo.svg" @onclick="@(e => Navigate("/dashboard/homepage"))" class="image_8" />
                </div>
                <div class="row-layout group_30">
                    <div @onclick="@(e => Navigate("/dashboard/search_engine"))" class="column-layout category-2">
                        <div class="row-layout group_31">
                            <img src="assets/searchengine_icon.svg" class="image_9" />
                        </div>
                        <div class="row-layout group_32">
                            <p class="typography__body-2 text_2">
                                Search
                            </p>
                        </div>
                    </div>
                    <div @onclick="@(e => Navigate("/dashboard/search"))" class="column-layout category-2">
                        <div class="row-layout group_31">
                            <img src="assets/AIsearch.svg" class="image_9" />
                        </div>
                        <div class="row-layout group_32">
                            <p class="typography__body-2 text_2">
                                AI Assist
                            </p>
                        </div>
                    </div>
                    <div @onclick="@(e => Navigate("/dashboard/chat"))" class="column-layout category-2">
                        <div class="row-layout group_31">
                            <img src="assets/Chats.svg" class="image_9" />
                        </div>
                        <div class="row-layout group_32">
                            <p class="typography__body-2 text_2">
                                Chat
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row-layout group_33">
                    <div @onclick="@(e => Navigate("/dashboard/timesheet"))" class="column-layout category-2">
                        <div class="row-layout group_31">
                            <img src="assets/timesheet.svg" class="image_9" />
                        </div>
                        <div class="row-layout group_32">
                            <p class="typography__body-2 text_2">
                                Timesheet
                            </p>
                        </div>
                    </div>
                    <div @onclick="@(e => Navigate("/dashboard/social_media"))" class="column-layout category-4">
                        <div class="row-layout group_31">
                            <img src="assets/Social.svg" class="image_9" />
                        </div>
                        <div class="row-layout group_32">
                            <p class="typography__body-2 text_2">
                                Social Media
                            </p>
                        </div>
                    </div>
                    <div @onclick="@(e => Navigate("/dashboard/banking"))" class="column-layout category-2">
                        <div class="row-layout group_31">
                            <img src="assets/Banking.svg" class="image_9" />
                        </div>
                        <div class="row-layout group_32">
                            <p class="typography__body-2 text_2">
                                Banking
                            </p>
                        </div>
                    </div>
                </div>
                <div slot="footer"></div>
            </IgbDialog>
        </div>
    </div>
    <div class="row-layout group_34">
        <div class="column-layout sidenav">
            <div class="column-layout group_35">
                <div class="column-layout group_36">
                    <div class="row-layout group_37">
                        <div class="row-layout group_38">
                            <img src="assets/pencil-edit-02.svg" @onclick="@(e => _chatdialog!.ToggleAsync())" class="image_2" />
                        </div>
                    </div>
                </div>
                <IgbDialog CloseOnOutsideClick="true" @ref="_chatdialog">
                    <h5 slot="title">
                        New Chat
                    </h5>
                    <div class="column-layout group_39">
                        <div class="row-layout group_40">
                            <IgbInput Placeholder="Add 1 or more people" Outlined="true" class="input_1" chat-scope>
                                <span slot="prefix">
                                    <span class="material-icons icon">
                                        search
                                    </span>
                                </span>
                            </IgbInput>
                        </div>
                        <div class="column-layout group_39">
                            <div class="row-layout group_39">
                                <div @onclick="@(e => _chatdialog!.ToggleAsync())" class="row-layout settings-button">
                                    <img src="assets/add-circle.svg" class="image_6" />
                                    <p class="typography__body-2 text_1">
                                        Create a group
                                    </p>
                                </div>
                            </div>
                            <div class="column-layout group_39"></div>
                        </div>
                    </div>
                    <div slot="footer">
                        <IgbButton Variant="ButtonVariant.Outlined" class="button_2 button_2_1" chat-scope>
                            start chat
                            <IgbRipple></IgbRipple>
                        </IgbButton>
                    </div>
                </IgbDialog>
                <div class="column-layout group_41">
                    <div class="row-layout group_42">
                        <img src="assets/home-03.svg" @onclick="@(e => Navigate("/chat_pages/home_view"))" class="image_10" />
                    </div>
                    <div class="row-layout group_42">
                        <img src="assets/a0247e3802210bf84e7dea58490eaea19af36379.SVG" @onclick="@(e => Navigate("/chat_pages/mentions"))" class="image_11" />
                    </div>
                    <div class="row-layout group_43">
                        <img src="assets/star.svg" @onclick="@(e => Navigate("/chat_pages/favourites"))" class="image_10" />
                    </div>
                </div>
            </div>
            <div class="column-layout group_44"></div>
        </div>
        <div class="column-layout group_45">
            <div class="row-layout group_46">
                <div class="column-layout group_47">
                    <div class="column-layout group_48">
                        <div class="row-layout group_39">
                            <h3 class="h3">
                                Welcome Zoe
                            </h3>
                        </div>
                        <div class="row-layout group_39">
                            <p class="typography__subtitle-1 text_9">
                                Ready, steady, chat?
Let's jump straight into things
                            </p>
                        </div>
                    </div>
                    <div class="row-layout group_49">
                        <div class="column-layout group_50">
                            <div class="row-layout group_39">
                                <img src="assets/Office Chat.svg" class="image_12" />
                            </div>
                            <div class="row-layout group_51">
                                <div class="row-layout group_52">
                                    <p class="typography__subtitle-1 text_10">
                                        Send a message to a collegue or friend
                                    </p>
                                </div>
                            </div>
                            <div class="row-layout group_53">
                                <IgbButton @onclick="@(e => _chatdialog!.ToggleAsync())" class="button_3 button_3_1" chat-scope>
                                    Start a Chat
                                    <IgbRipple></IgbRipple>
                                </IgbButton>
                            </div>
                        </div>
                        <div class="column-layout group_54">
                            <div class="row-layout group_39">
                                <img src="assets/Video Conference 1.svg" class="image_13" />
                            </div>
                            <div class="row-layout group_51">
                                <div class="row-layout group_52">
                                    <p class="typography__subtitle-1 text_11">
                                        Collaborate on project with teams or groups
                                    </p>
                                </div>
                            </div>
                            <div class="row-layout group_53">
                                <IgbButton @onclick="@(e => _group1!.ToggleAsync())" class="button_3 button_3_2" chat-scope>
                                    Create a Group
                                    <IgbRipple></IgbRipple>
                                </IgbButton>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private IgbNavDrawer _navDrawer3;
    private IgbDialog _group1;
    private IgbDialog _profileoverview3;
    private IgbDialog _overview11;
    private IgbDialog _chatdialog;

    public void Navigate(string path)
    {
        NavigationManager.NavigateTo(path);
    }
}
