@page "/account/personal_information"
@inject NavigationManager NavigationManager

<div class="column-layout personal-information-container">
    <div class="column-layout topbar">
        <div class="column-layout group">
            <div class="row-layout group_1">
                <div class="row-layout group_2">
                    <div class="row-layout round-icon-button-1">
                        <IgbNavDrawer @onclick="@(e => _navDrawer20!.ToggleAsync())" @ref="_navDrawer20" class="nav-drawer" personal_information-scope>
                            <div class="row-layout group_3">
                                <div class="row-layout round-icon-button-1">
                                    <span @onclick="@(e => _navDrawer20!.ToggleAsync())" class="material-icons icon">
                                        menu
                                    </span>
                                </div>
                                <img src="assets/eaf728ea380cd8f68ede028676fb3240b6fe5115.SVG" class="image" />
                            </div>
                            <div class="column-layout group_4">
                                <div class="column-layout group_5">
                                    <div class="column-layout group_6">
                                        <div class="column-layout group_7">
                                            <div @onclick="@(e => Navigate("/account/account_home"))" class="row-layout group_8">
                                                <img src="assets/home-03.svg" class="image_1" />
                                                <p class="typography__body-2 text">
                                                    Home
                                                </p>
                                            </div>
                                            <div @onclick="@(e => Navigate("/account/personal_information"))" class="row-layout group_8">
                                                <img src="assets/user BLACK.svg" class="image_1" />
                                                <p class="typography__body-2 text">
                                                    Information
                                                </p>
                                            </div>
                                            <div @onclick="@(e => Navigate("/account/data_and_privacy"))" class="row-layout group_9">
                                                <img src="assets/folder black.svg" class="image_1" />
                                                <p class="typography__body-2 text_1">
                                                    Data
                                                </p>
                                            </div>
                                            <div @onclick="@(e => Navigate("/account/security"))" class="row-layout group_9">
                                                <img src="assets/shield black.svg" class="image_1" />
                                                <p class="typography__body-2 text_1">
                                                    Security
                                                </p>
                                            </div>
                                            <div @onclick="@(e => Navigate("/account/subscriptions"))" class="row-layout group_9">
                                                <img src="assets/refresh-ccw BLACK.svg" class="image_1" />
                                                <p class="typography__body-2 text_1">
                                                    Subscriptions
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </IgbNavDrawer>
                        <span @onclick="@(e => _navDrawer20!.ToggleAsync())" class="material-icons icon">
                            menu
                        </span>
                    </div>
                    <div @onclick="@(e => Navigate("/dashboard/search_engine"))" class="row-layout group_10">
                        <img src="assets/eaf728ea380cd8f68ede028676fb3240b6fe5115.SVG" class="image_2" />
                    </div>
                </div>
                <div class="row-layout group_11">
                    <div class="row-layout group_12">
                        <span @onclick="@(e => _overview20!.ToggleAsync())" class="material-icons icon_1">
                            drag_indicator
                        </span>
                    </div>
                    <div class="row-layout group_13">
                        <div @onclick="@(e => _profileoverview20!.ToggleAsync())" class="row-layout profile-user-1">
                            <p class="typography__body-1 text_2">
                                Z
                            </p>
                        </div>
                    </div>
                    <IgbDialog CloseOnOutsideClick="true" @ref="_profileoverview20">
                        <h5 slot="title"></h5>
                        <div class="row-layout group_14">
                            <span @onclick="@(e => _overview20!.ToggleAsync())" class="material-icons icon_2">
                                close
                            </span>
                        </div>
                        <div class="row-layout group_15">
                            <div class="row-layout group_16"></div>
                            <p class="typography__body-2 text_3">
                                zoe.e@@etztec.com
                            </p>
                            <div class="row-layout group_16"></div>
                        </div>
                        <div class="column-layout group_17">
                            <div class="row-layout group_18">
                                <div class="row-layout avatar">
                                    <p class="typography__body-1 text_2">
                                        EG
                                    </p>
                                    <div class="row-layout circle"></div>
                                </div>
                                <div class="column-layout topbar">
                                    <p class="typography__subtitle-1 text_4">
                                        Zoe Emmanuel
                                    </p>
                                    <p class="typography__body-2 text_5">
                                        +44 7123 456789
                                    </p>
                                </div>
                            </div>
                            <IgbButton Variant="ButtonVariant.Outlined" @onclick="@(e => Navigate("/account/account_home"))" class="button" personal_information-scope>
                                Manage your Goowid Account
                                <IgbRipple></IgbRipple>
                            </IgbButton>
                        </div>
                        <div class="column-layout group_19">
                            <div class="row-layout settings-button">
                                <img src="assets/settings-01.svg" class="image_3" />
                                <p class="typography__body-2 text_6">
                                    More Settings
                                </p>
                            </div>
                            <div class="row-layout language-button">
                                <div class="row-layout group_20">
                                    <img src="assets/globe-02.svg" class="image_3" />
                                    <p class="typography__body-2 text_4">
                                        Language
                                    </p>
                                </div>
                                <p class="typography__body-2 text_7">
                                    English
                                </p>
                            </div>
                            <div class="row-layout settings-button">
                                <img src="assets/logout-03.svg" class="image_4" />
                                <p class="typography__body-2 text_4">
                                    Log out
                                </p>
                            </div>
                        </div>
                        <div class="row-layout group_21">
                            <div class="row-layout group_22">
                                <p class="typography__caption text_6">
                                    Privacy Policy
                                </p>
                            </div>
                            <div class="column-layout deivder"></div>
                            <div class="row-layout group_22">
                                <p class="typography__caption text_6">
                                    Terms of Service
                                </p>
                            </div>
                        </div>
                        <div slot="footer"></div>
                    </IgbDialog>
                    <IgbDialog CloseOnOutsideClick="true" @ref="_overview20">
                        <h5 slot="title"></h5>
                        <div class="row-layout group_23">
                            <span @onclick="@(e => _overview20!.ToggleAsync())" class="material-icons icon_2">
                                close
                            </span>
                        </div>
                        <div class="row-layout group_24">
                            <img src="assets/goowid-logo.svg" @onclick="@(e => Navigate("/dashboard/homepage"))" class="image_5" />
                        </div>
                        <div class="row-layout group_25">
                            <div @onclick="@(e => Navigate("/dashboard/search_engine"))" class="column-layout category-2">
                                <div class="row-layout group_26">
                                    <img src="assets/searchengine_icon.svg" class="image_6" />
                                </div>
                                <div class="row-layout group_27">
                                    <p class="typography__body-2 text_8">
                                        Search
                                    </p>
                                </div>
                            </div>
                            <div @onclick="@(e => Navigate("/dashboard/search"))" class="column-layout category-2">
                                <div class="row-layout group_26">
                                    <img src="assets/AIsearch.svg" class="image_6" />
                                </div>
                                <div class="row-layout group_27">
                                    <p class="typography__body-2 text_8">
                                        AI Assist
                                    </p>
                                </div>
                            </div>
                            <div @onclick="@(e => Navigate("/dashboard/chat"))" class="column-layout category-2">
                                <div class="row-layout group_26">
                                    <img src="assets/Chats.svg" class="image_6" />
                                </div>
                                <div class="row-layout group_27">
                                    <p class="typography__body-2 text_8">
                                        Chat
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row-layout group_28">
                            <div @onclick="@(e => Navigate("/dashboard/timesheet"))" class="column-layout category-2">
                                <div class="row-layout group_26">
                                    <img src="assets/timesheet.svg" class="image_6" />
                                </div>
                                <div class="row-layout group_27">
                                    <p class="typography__body-2 text_8">
                                        Timesheet
                                    </p>
                                </div>
                            </div>
                            <div @onclick="@(e => Navigate("/dashboard/social_media"))" class="column-layout category-4">
                                <div class="row-layout group_26">
                                    <img src="assets/Social.svg" class="image_6" />
                                </div>
                                <div class="row-layout group_27">
                                    <p class="typography__body-2 text_8">
                                        Social Media
                                    </p>
                                </div>
                            </div>
                            <div @onclick="@(e => Navigate("/dashboard/banking"))" class="column-layout category-2">
                                <div class="row-layout group_26">
                                    <img src="assets/Banking.svg" class="image_6" />
                                </div>
                                <div class="row-layout group_27">
                                    <p class="typography__body-2 text_8">
                                        Banking
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div slot="footer"></div>
                    </IgbDialog>
                </div>
            </div>
        </div>
    </div>
    <div class="column-layout group_29">
        <div class="row-layout group_30">
            <div class="column-layout group_31">
                <div class="column-layout group_32"></div>
                <div class="column-layout group_33">
                    <div class="column-layout group_34">
                        <div class="column-layout group_35">
                            <div class="row-layout profile-user">
                                <p class="typography__body-1 text_2">
                                    Z
                                </p>
                            </div>
                        </div>
                        <div class="row-layout group_36"></div>
                        <h3 class="h3">
                            Personal Information
                        </h3>
                        <p class="typography__subtitle-1 text_9"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private IgbNavDrawer _navDrawer20;
    private IgbDialog _profileoverview20;
    private IgbDialog _overview20;

    public void Navigate(string path)
    {
        NavigationManager.NavigateTo(path);
    }
}
